/*
    Отдельный файл нужен затем, чтобы файлы подключались последовательно.
    И для других вкусных функций при коллективной работе.
*/
.clearfix,
.i-clearfix,
.main {
  *zoom: 1;
}
.clearfix:before,
.i-clearfix:before,
.main:before,
.clearfix:after,
.i-clearfix:after,
.main:after {
  display: table;
  content: "";
}
.clearfix:after,
.i-clearfix:after,
.main:after {
  clear: both;
}
.clearfix2 {
  -height: 1%;
  *zoom: 1;
  display: table;
}
.clearfix2:after {
  content: '. . . . . . . . . . .';
  display: block;
  word-spacing: 99in;
  height: 0;
  overflow: hidden;
  font-size: 0.05em;
  line-height: 0.05em;
}
.inline-block,
audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@-moz-keyframes varr {
  0% {
    top: 50px;
    left: 0px;
  }

  50% {
    top: 150px;
    left: 100px;
    font-size: 50px;
  }

  100% {
    top: 150px;
    left: 10px;
  }
}
@-webkit-keyframes varr {
  0% {
    top: 50px;
    left: 0px;
  }

  50% {
    top: 150px;
    left: 100px;
    font-size: 50px;
  }

  100% {
    top: 150px;
    left: 10px;
  }
}
@-o-keyframes varr {
  0% {
    top: 50px;
    left: 0px;
  }

  50% {
    top: 150px;
    left: 100px;
    font-size: 50px;
  }

  100% {
    top: 150px;
    left: 10px;
  }
}
@-ms-keyframes varr {
  0% {
    top: 50px;
    left: 0px;
  }

  50% {
    top: 150px;
    left: 100px;
    font-size: 50px;
  }

  100% {
    top: 150px;
    left: 10px;
  }
}
@keyframes varr {
  0% {
    top: 50px;
    left: 0px;
  }

  50% {
    top: 150px;
    left: 100px;
    font-size: 50px;
  }

  100% {
    top: 150px;
    left: 10px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio:not([controls]) {
  display: none;
}
ol,
ul {
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: 0;
}
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0;
}
[hidden] {
  display: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 9;
}
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}
select[multiple] {
  height: inherit;
  background-color: #fff;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  -webkit-box-shadow: none 1px 3px rgba(0,0,255,0.25);
  -moz-box-shadow: none 1px 3px rgba(0,0,255,0.25);
  box-shadow: none 1px 3px rgba(0,0,255,0.25);
  line-height: 18px 9;
}
select,
input[type="file"] {
  height: 28px;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  outline: 1px dotted #666;
}
input[type="image"] {
  border: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #e6e6e6;
  border-color: #ccc;
  cursor: not-allowed;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #eb423d;
  -webkit-box-shadow: 0 0 6px rgba(2,206,182,0.25);
  -moz-box-shadow: 0 0 6px rgba(2,206,182,0.25);
  box-shadow: 0 0 6px rgba(2,206,182,0.25);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.6;
  font-family: Georgia, Times, serif;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 65%;
}
h1 {
  margin: 27px 0 18px;
  font-size: 30px;
}
h2 {
  font-size: 24px;
  margin: 21px 0 14px;
}
h3 {
  font-size: 18px;
  margin: 15px 0 10px;
}
h4 {
  font-size: 16px;
  margin: 11px 0 7px;
}
h5 {
  font-size: 14px;
  margin: 8px 0 5px;
}
h6 {
  font-size: 13px;
  margin: 5px 0 3px;
  font-weight: normal;
  text-transform: none;
}
a:visited {
  color: #9c00d6;
}
a:link {
  color: #00f;
}
a:hover {
  color: #f00;
}
a:active {
  color: #800000;
}
a:hover,
a:active {
  outline: 0;
}
a:focus {
  outline: thin dotted;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
i,
em {
  font-style: italic;
  font-weight: inherit;
}
b,
strong {
  font-style: inherit;
  font-weight: bold;
}
big {
  font-size: 120%;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: 20.8px;
}
sup {
  top: -5px;
}
sub {
  bottom: -25px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
th {
  font-weight: bold;
  vertical-align: middle;
}
td {
  vertical-align: top;
}
pre {
  background-color: #fff;
  display: block;
  padding: 7px;
  margin: 0 0 20.8px;
  line-height: 1.4;
  font-family: Lucida Console, Courier New, Courier, monospaced;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
article p {
  margin: 4px 0 8px;
}
article ul,
article ol {
  padding: 0;
  margin: 0 0 20.8px/2 25px;
}
article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-bottom: 0;
}
article ul {
  list-style: disc;
}
article ol {
  list-style: decimal;
}
article li {
  line-height: 20.8px;
}
article hr {
  margin: 20.8px 0;
  border: 0;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #e6e6e6;
}
article tr.odd td {
  background-color: #ebebeb;
}
article tr.odd td:hover {
  background-color: #fff;
}
article tr.even td {
  background-color: #f5f5f5;
}
article tr.even td:hover {
  background-color: #fff;
}
.l-right {
  float: right;
}
.l-left {
  float: left;
}
.i-relative {
  position: relative;
}
.i-hide {
  display: none !important;
}
.i-show {
  display: block;
}
.i-text-hide {
  font: 0/0 serif;
  text-shadow: none 1px 3px #000;
  filter: dropshadow(#000, none, 1px);
  color: transparent;
}
.i-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}
.i-container,
.main,
.foot {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 940px;
  max-width: 1260px;
}
input,
textarea,
select,
option {
  color: #444;
  background: #fff;
  border-color: #b3b3b3;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input,
textarea {
  border: 1px solid #b3b3b3;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #4d4d4d;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #4d4d4d;
}
input.placeholder,
textarea.placeholder {
  color: #4d4d4d;
}
button {
  width: auto;
  overflow: visible;
}
.test {
  position: absolute;
  top: 50px;
  left: 0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-name: 'movement';
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  -webkit-transform-origin: top left;
  animation-name: 'movement';
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  transform-origin: top left;
}
.test2 {
  position: absolute;
  top: -50px;
  left: 0;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-name: 'movement2';
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  -webkit-transform-origin: top left;
  transform-origin: bottom left;
  -webkit-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
@-moz-keyframes movement {
  0% {
    top: 50px;
    left: 0px;
  }

  30% {
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  }

  55% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@-webkit-keyframes movement {
  0% {
    top: 50px;
    left: 0px;
  }

  30% {
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  }

  55% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@-o-keyframes movement {
  0% {
    top: 50px;
    left: 0px;
  }

  30% {
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  }

  55% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@-ms-keyframes movement {
  0% {
    top: 50px;
    left: 0px;
  }

  30% {
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  }

  55% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@keyframes movement {
  0% {
    top: 50px;
    left: 0px;
  }

  30% {
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  }

  55% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #f00;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@-moz-keyframes movement2 {
  0% {
    top: -50px;
    left: 0px;
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  30% {
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  65% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes movement2 {
  0% {
    top: -50px;
    left: 0px;
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  30% {
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  65% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-o-keyframes movement2 {
  0% {
    top: -50px;
    left: 0px;
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  30% {
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  65% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@-ms-keyframes movement2 {
  0% {
    top: -50px;
    left: 0px;
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  30% {
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  65% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes movement2 {
  0% {
    top: -50px;
    left: 0px;
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  30% {
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    box-shadow: 0 2px 7px rgba(0,0,0,0.5);
    -webkit-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  65% {
    top: 150px;
    left: 140px;
    padding: 0 10px;
    background-color: #e60000;
    color: #fff;
    -webkit-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  100% {
    top: 150px;
    left: 10px;
    perspective: 150;
    -webkit-perspective: 150;
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body,
.container {
  height: 100%;
}
body {
  font: 13px Tahoma, Arial, sans-serif;
  color: #444;
  background-color: #fff;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word;
}
body *::selection {
  background: #b4d5fe;
}
body *::-moz-selection {
  background: #b4d5fe;
}
body *::-webkit-selection {
  background: #b4d5fe;
}
body * img::selection {
  background: transparent;
}
body * img::-moz-selection {
  background: transparent;
}
body * img::-webkit-selection {
  background: transparent;
}
.container {
  height: auto;
  min-height: 100%;
}
.main {
  padding-bottom: 150px;
  position: relative;
}
.foot {
  background-color: #fff;
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}
@media print {
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
header,
footer,
aside,
nav {
  display: none;
}
form,
fieldset,
label,
input,
textarea,
 {
  display: none;
}
body {
  background: #fff;
  font-size: 14pt;
  line-height: 1.2;
  color: #000;
  font-family: Times New Roman, Times, serif;
}
a,
a:visited {
  text-decoration: underline;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-top: 15px;
}
blockquote {
  font-style: Arial, sans-serif;
  border: 1pt solid #ccc;
}
table {
  background: #fff;
  border: solid #ccc;
  border-width: 1pt 0 0 1pt;
  border-collapse: inherit;
  border-spacing: inherit;
}
th,
td {
  border: solid #ccc;
  border-width: 0 1pt 1pt 0;
  padding: 5pt 7pt;
}
thead th,
thead td {
  background: #f5f5f5;
}
}
